{% extends "base.html" %}
{% block content %}
<form action="/register" method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Пароль</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm password">
        <label for="floatingPassword">Подтверждение пароля</label>
    </div>
    <button type="button" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}